.main {
  display: flex;
  flex-direction: column;
  background: lightyellow;
  border-radius: 40px;
  padding: 20px;
  margin: 10px;
}

.failed {
  color: red;
  padding-top: 10px;
}

.success {
  color: green;
  padding-top: 10px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.answerText {
  padding-left: 5px;
}